.page {
   // .page__hero
   &__hero {
   }
}

.hero {
   position: relative;
   background-color: rgba(10, 4, 56, 0.58);
   // .hero__container
   &__container {
      min-height: toRem(715);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: toRem(30);
      @media (max-width: toEm($tablet)) {
         min-height: toRem(650);
      }
      @media (max-width: toEm($mobile)) {
         min-height: toRem(550);
      }
   }
   // .hero__title
   &__title {
      line-height: 140%;
      text-align: center;
      @media (max-width: toEm($mobile)) {
         line-height: 120%;
      }
   }
   // .hero__text
   &__text {
      max-width: toRem(670);
      text-align: center;
      line-height: 180%;
   }
   // .hero__link
   &__link {
      padding: toRem(17) toRem(37);
      background-color: $accentColor;
      font-family: "DM Serif Text", serif;
      font-size: toRem(28);
      border-radius: toRem(5);
      transition: background-color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: $mainBgColor;
         }
      }
   }
   // .hero__image
   &__image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
