// Colors
$mainTextColor: #ffffff;
$secondaryTextColor: #bcbcbc;
$accentColor: #fac70f;
$mainBgColor: #04011f;
// $secondaryBgColor: #0086c9;

// Breakpoints
$pc: 1199.98;
$tablet: 991.98;
$mobile: 767.98;
$mobileMedium: 574.98;
$mobileSmall: 479.98;
